In [8]:
import pandas as pd

import psycopg2
from sqlalchemy import create_engine

In [9]:
file = 'DB/sepomex/CPdescarga.txt'

In [12]:
df = pd.read_csv(
    file,
    encoding='iso-8859-1',
    sep='|',
    header=0,
    skiprows=[0]
)
df

,d_codigo,d_asenta,d_tipo_asenta,D_mnpio,d_estado,d_ciudad,d_CP,c_estado,c_oficina,c_CP,c_tipo_asenta,c_mnpio,id_asenta_cpcons,d_zona,c_cve_ciudad
0,1000,San Ángel,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,1,Urbano,1.0
1,1010,Los Alpes,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,5,Urbano,1.0
2,1020,Guadalupe Inn,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,6,Urbano,1.0
3,1030,Axotla,Pueblo,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,28,10,9,Urbano,1.0
4,1030,Florida,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,10,Urbano,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151571,99994,Vicente Guerrero,Pueblo,Moyahua de Estrada,Zacatecas,NaN,99961,32,99961,NaN,28,33,751,Rural,NaN
151572,99997,Las Palmas,Ranchería,Moyahua de Estrada,Zacatecas,NaN,99961,32,99961,NaN,29,33,3,Rural,NaN
151573,99998,El Limón,Ranchería,Moyahua de Estrada,Zacatecas,NaN,99961,32,99961,NaN,29,33,4,Rural,NaN
151574,99998,Jesús Maria,Ranchería,Moyahua de Estrada,Zacatecas,NaN,99961,32,99961,NaN,29,33,755,Rural,NaN
151575,99998,Palmarejo,Ranchería,Moyahua de Estrada,Zacatecas,NaN,99961,32,99961,NaN,29,33,756,Rural,NaN

In [50]:
def _upload_sepomex(df, table):
    # conn = psycopg2.connect(
    #     database="railway",
    #     user='postgres',
    #     password='OoYIQGsQKPQwpk1g8lT3',
    #     host='containers-us-west-186.railway.app',
    #     port= '6502'
    # )

    # cursor = conn.cursor()
    # sql2='DELETE FROM {};'.format(table)
    # cursor.execute(sql2);
    # conn.commit()
    # conn.close()

    engine = create_engine('postgresql://postgres:OoYIQGsQKPQwpk1g8lT3@containers-us-west-186.railway.app:6502/railway')
    df.to_sql(table, engine, if_exists='replace')

In [51]:
df_estado = df[['c_estado', 'd_estado']].drop_duplicates().reset_index(drop=True)
df_estado = df_estado.rename(
    columns={
        "d_estado": "estado"
    }
)
_upload_sepomex(df_estado, 'estado')

In [52]:
df_municipio = df[['d_codigo', 'D_mnpio']].drop_duplicates().reset_index(drop=True)
df_municipio = df_municipio.rename(
    columns={
        "D_mnpio": "mnpio",
        "d_codigo": "cp"
    }
)
df_municipio['cp'] = df_municipio['cp'].astype(str).str.zfill(5)
_upload_sepomex(df_municipio, 'municipio')

In [70]:
df_colonia = df[['d_asenta', 'd_codigo', 'c_estado']].drop_duplicates().reset_index(drop=True)
df_colonia = df_colonia.rename(
    columns={
        "d_asenta": "colonia",
        "d_codigo": "cp"
    }
)
df_colonia['cp'] = df_colonia['cp'].astype(str).str.zfill(5)
_upload_sepomex(df_colonia, 'colonia')

In [71]:
df_colonia

                 colonia     cp  c_estado
0              San Ángel  01000         9
1              Los Alpes  01010         9
2          Guadalupe Inn  01020         9
3                 Axotla  01030         9
4                Florida  01030         9
...                  ...    ...       ...
150585  Vicente Guerrero  99994        32
150586        Las Palmas  99997        32
150587          El Limón  99998        32
150588       Jesús Maria  99998        32
150589         Palmarejo  99998        32

[150590 rows x 3 columns]

In [54]:
conn = psycopg2.connect(
    database="railway",
    user='postgres',
    password='OoYIQGsQKPQwpk1g8lT3',
    host='containers-us-west-186.railway.app',
    port= '6502'
)

cursor = conn.cursor()
query='''
    SELECT colonia, colonia.cp, mnpio, estado
    FROM colonia
    INNER JOIN municipio ON colonia.cp = municipio.cp
    INNER JOIN estado ON colonia.c_estado = estado.c_estado
    WHERE colonia.cp = '{0}';
'''.format('62100')
cursor.execute(query)
response = cursor.fetchall()
conn.commit()
conn.close()

In [75]:
conn = psycopg2.connect(
    database="railway",
    user='postgres',
    password='OoYIQGsQKPQwpk1g8lT3',
    host='containers-us-west-186.railway.app',
    port= '6502'
)

cursor = conn.cursor()
query = '''
        INSERT INTO colonia (colonia, cp, c_estado)
        VALUES(%s, %s, %s);
    '''
values = ("My Nueva Colonia", '12345', 12)
cursor.execute(query, values)

conn.commit()
conn.close()

In [69]:
print(response)

[(12,)]